road-rally/openrally.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns="http://www.openrally.org/xmlschemas/GpxExtensions/v1.0.3-DRAFT"
  xmlns:svg="http://www.w3.org/2000/svg" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.openrally.org/xmlschemas/GpxExtensions/v1.0.3-DRAFT">

  <xs:element name="type" type="roadbookType"></xs:element>
  <!-- NEW: The type of the roadbook: cross-country, rally, regularity -->
  <xs:element name="units" type="unitsType">
  <!-- The valid "units" are "metric" or "statute". Under "metric", route distances are in kilometers, speeds are in kph, and waypoint radii are in meters. Under the "statute" measurement system, route distances are in statute miles, speeds are in mph, and waypoint radii are in yards. -->
  </xs:element>
  <xs:element name="distance" type="distanceType"/>
  <!-- start/finish -->
  <xs:element name="ss" type="waypointType"/>
  <xs:element name="ff" type="waypointType"/>
  <xs:element name="stop_control" type="waypointType"/>
  <!-- drawing elements -->
  <xs:element name="tulip" type="drawingType"/>
  <xs:element name="notes" type="drawingType"/>
  <!-- other control points -->
  <xs:element name="checkpoint" type="waypointType"/>
  <xs:element name="timecontrol" type="timeLimitType"/>
  <xs:element name="reset" type="distanceType" default="0"/>

  <!-- Instruct consumer to allow display of GPS coords for this WPT -->
  <xs:element name="show_coordinates" type="markerType"/>
  
  <!-- GSM signal bars -->
  <xs:element name="gsm_strength" type="markerType"/>

  <!-- Tyre warming zone -->
  <xs:element name="TWZ" type="waypointType"/>
  <xs:element name="TWZ_end" type="waypointType"/>
  <xs:element name="ez" type="waypointType"/>
  <!-- Chicane -->
  <xs:element name="chicane" type="waypointType"/>
  <xs:element name="chicane_type" type="chicaneType"/>
  <xs:element name="chicane_entry" type="chicaneEntryType"/>
  <xs:element name="vc_in" type="waypointType"/>
  <xs:element name="vc_end" type="waypointType"/>
  <!-- Slow zone -->
  <xs:element name="sz_in" type="waypointType"/>
  <xs:element name="speed" type="speedType"/>
  <xs:element name="sz_end" type="waypointType"/>

  <!--
  safety tags, primarily used in an organizer's mapping/tracking to locate
  assets on the course.
  -->
  <!-- named ones -->
  <xs:element name="radio" type="namedType"/>
  <xs:element name="medical" type="namedType"/>
  <xs:element name="marshal" type="namedType"/>

  <!-- markers only -->
  <xs:element name="service" type="markerType"/>
  <xs:element name="tyre_marking" type="markerType"/>
  <xs:element name="refuel" type="markerType"/>
  <xs:element name="HEV" type="markerType"/>
  <xs:element name="HEV_refuge" type="markerType"/>
  <xs:element name="media" type="markerType"/>
  <xs:element name="police" type="markerType"/>
  <xs:element name="fire" type="markerType"/>
  <xs:element name="technical" type="markerType"/>
  <xs:element name="recovery" type="markerType"/>
  <xs:element name="spectators" type="markerType"/>
  <xs:element name="prohibited_area" type="markerType"/>
  <xs:element name="service_park" type="markerType"/>
  <xs:element name="parking" type="markerType"/>
  <xs:element name="helicopter" type="markerType"/> 

  <!-- data types -->

  <xs:simpleType name="chicaneType">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="single"/>
      <xs:enumeration value="double"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="chicaneEntryType">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="left"/>
      <xs:enumeration value="right"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="waypointType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="name"/>
        <xs:attribute type="xs:positiveInteger" name="activate"/>
        <xs:attribute type="xs:positiveInteger" name="clear"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="namedType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="name"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="roadbookType">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="cross-country"/>
      <xs:enumeration value="rally"/>
      <xs:enumeration value="regularity"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="unitsType">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="metric"/>
      <xs:enumeration value="statue"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="markerType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="0"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="distanceType">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="timeLimitType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:positiveInteger" name="activate">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              Distance to yellow sign.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:positiveInteger" name="clear">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              Validation radius of the waypoint.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" name="name">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              Name of the timecontrol.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:integer" name="allowed">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              Number of minutes allowed to get from THIS timecontrol to the NEXT timecontrol.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="timeType">
    <!-- time in seconds -->
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="0"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="speedType">
    <xs:restriction base="xs:positiveInteger">
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="drawingType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="href"/>
        <xs:attribute type="xs:string" name="id"/>
      </xs:extension>
      <!--
      May contain either an SVG or a base64 encoded dataUrl.

      The data *should* be wrapped in CDATA so that parsers can optionally
      ignore the overhead of parsing. Not all apps consuming the openrally
      file will have rendering responsibility.

      SVG *should not* reference external hrefs. That defeats the point of
      having everything in one complete file. Access to internet may well not
      be possible at the time and place the GPX is loaded/parsed.

      Example (raster of a single transparent pixel):
      <o:tulip><![CDATA[data:image/png;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==]]></o:tulip>

      Example (SVG):
      <o:tulip>
<![CDATA[
          <svg width="100" height="100"><circle cx="50" cy="47" r="30" stroke="red" stroke-width="3" fill="none"/></svg>
        ]]>
</o:tulip>
      -->
    </xs:simpleContent>
  </xs:complexType>

</xs:schema>
